[run]
branch = True
source = pymoca
omit = src/pymoca/_version.py

[report]
show_missing = true
exclude_lines =
    pragma: no cover
    raise NotImplementedError

[paths]
source =
    src/pymoca
    .tox/*/lib/python*/site-packages/pymoca
