[run]
branch = True
source = pymoca
omit =
    */pymoca/_version.py
    */pymoca/generated/*
    */pymoca/test/*

[report]
show_missing = true
exclude_lines =
    pragma: no cover
    raise NotImplementedError

[paths]
source =
    src/pymoca
    */site-packages/pymoca
